/**
 * @Author: Zaharia Laurentiu Jr Marius
 * @Date:   2017-10-27T12:06:17+02:00
 * @Email:  laurentiu.zaharia@edu.itspiemonte.it
 * @Project: kebabCase
 * @Filename: anteprimaStyle.css
 * @Last modified by:   Zaharia Laurentiu Jr Marius
 * @Last modified time: 2017-11-01T17:53:54+01:00
 */

.icon-file-pdf:before {
  content: url(../images/file-pdf.png);
}

 /* General button style (reset) */
 .btn {
 	border: none;
 	font-family: inherit;
 	font-size: inherit;
 	color: inherit;
 	background: none;
 	cursor: pointer;
 	padding: 25px 80px;
 	display: inline-block;
 	margin: 15px 30px;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-weight: 700;
 	outline: none;
 	position: relative;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
 	transition: all 0.3s;
 }

 .btn:after {
 	content: '';
 	position: absolute;
 	z-index: -1;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
 	transition: all 0.3s;
 }

 /* Button 5 */
.btn-5 {
	background-color: white;
	color: black;
	height: 45px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5:active {
	background: #9053a9;
	top: 2px;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	/*height: 100%;*/
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 1.65;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5:active:before {
	color: #703b87;
}

/* Button 5a */
.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}


.perdita{
    color: red;
}

.guadagno{
    color: green;
}

.headerLogo {
	margin: 0 auto;
	width: 85%;
	text-align: center;
	border-bottom: 3px solid #bc2131;
	padding-bottom: 20px;
}

.col-9 {
	margin: 0 auto;
}

.table {
	margin-top: 20px;
}

.table thead th {
	border-top: 0px;
}

.cliente {
	text-align: center;
}

.cliente thead th {
	text-align: center;
}

.table-totali {
	text-align: center;
}

.table-totali thead th {
	text-align: center;
}

.note {
	text-align: center;
}

.note thead th {
	text-align: center;
}

#tableCliente {
	margin-top: 30px;
	text-align: center;
}

#tableCliente thead th {
	text-align: center;
}
