/**
 * @Author: Zaharia Laurentiu Jr Marius
 * @Date:   2017-10-27T12:06:17+02:00
 * @Email:  laurentiu.zaharia@edu.itspiemonte.it
 * @Project: kebabCase
 * @Filename: stylePreventivi.css
 * @Last modified by:   Zaharia Laurentiu Jr Marius
 * @Last modified time: 2017-11-01T23:54:15+01:00
 */



/*rimozione degli spinner sui input number*/
/*label input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

/*table.fixed { table-layout:fixed; }
table.fixed th { overflow: hidden; }
table.fixed td { overflow: hidden; }*/

/*body {
  background: #002b36;
  font-family: 'Roboto Mono', monospace;
}

*:focus {
  outline: none;
}
.wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.form-wrap {
  position: relative;
  height: 50px;
  width: 400px;
  margin: 100px auto 0;
}

input {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding-top: 5px;
  border: none;
  font-size: 1em;
  font-weight: 200;
  background: none;
  opacity: 0;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.5s ease;
}

.active input {
  opacity: 1;
  transition: all 0.5s ease 0.5s;
}

svg {
  position: absolute;
  left: 0;
  top: 100%;
  overflow: visible;
  fill: none;
  z-index: 5;
  stroke: #fff;
  stroke-width: 3px;
}

label {
  color: #fff;
  position: absolute;
  top: 15px;
  font-size: 1.3em;
  transition: all 0.5s ease;
}

.active label {
  top: 0px;
  font-size: 1em;
  color: #FF5252;
  transition: all 0.5s ease 0.6s;
}

.active + svg {
  stroke: #FF5252;
  transition: stroke 0.4s ease 0.6s;
}

.input {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.input:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 3px;
  right: 15px;
  bottom: -50px;
  background-color: transparent;
  transform-origin: inherit;
  transform: rotate(0deg);
  transition: transform 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s;
}

.input:after {
  content: "";
  position: absolute;
  height: 26px;
  width: 3px;
  right: 15px;
  bottom: -50px;
  visibility: hidden;
  background-color: transparent;
  transform-origin: inherit;
  transform: rotate(0deg);
  transition: transform 0.4s ease, visibility 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, height 0.2s ease 0.6s;
}

.valid:before {
  bottom: 10px;
  right: 16px;
  visibility: visible;
  background-color: #4CAF50;
  transform-origin: inherit;
  transform: rotate(40deg);
  transition: bottom 0.4s ease, transform 0.4s ease 0.3s;
}

.valid:after {
  bottom: 10px;
  height: 15px;
  visibility: visible;
  background-color: #4CAF50;
  transform-origin: inherit;
  transform: rotate(-45deg);
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s;
}

.invalid:before {
  bottom: 10px;
  visibility: visible;
  background-color: #ff5252;
  transform: rotate(40deg);
  transition: bottom 0.4s ease, transform 0.4s ease 0.3s;
}

.invalid:after {
  height: 26px;
  bottom: 10px;
  visibility: visible;
  background-color: #ff5252;
  transform: rotate(-45deg);
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s;
}*/

.card-header {
	border: 0px !important;
	border-radius: 0px !important;
}

.card {
	border: 0px !important;
	border-radius: 0px !important;
}

.customeProductCodice {
	border-color: red !important;
}

#inputIVA {
	width: 20%;
}

#cardNoteAggiuntiveAzienda p {
	padding: 0px;
}

#cardNoteAggiuntiveCliente p {
	padding: 0px;
}

#cardAzienda{
	margin-top: 70px;
}

#tabProdotti thead th {
	text-align: left;
}

#tabProdotti tbody td{
	text-align: left;
}

#tabProdottiRiepilogo input[type="number"]{
	width: 75px;
}

#labelDistri{
	margin-top: 20px;
	margin-bottom: 0px;
}

#datiAziendaCard .card-header{
	border: 0px;
}

#tabellaPreventivoCliente {
	margin: 0 auto;
	width: 90%;
}

.input-group {
	margin-top: 15px;
}

.form-group {
	margin-top: 20px;
}

.lead{
	margin: 0 !important;
}

.card-header{
	padding: 14px !important;
}

.btnSalvaPreventivo{
	border: 1px solid #bc2131;
	color: #bc2131;
	background-color: transparent;
	height: 50px;
	border-radius: 5px;
	margin-top: 15px;
}

.btnSalvaPreventivo:hover{
	color: white;
	background-color: #bc2131;

}

.perdita{
    color: red;
}

.guadagno{
    color: green;
}

#allTabDataFromPreventivi{
	margin: 0 auto;
	width: 90%;
	margin-top: 20px;
}

td{
	text-align: center;
}

.cautionSmall{
	color: red;
}

#tipologia{
	width: 50%;
}

.myForm {
	margin: 0 auto;
	width: 90%;
	margin-top: 20px;
}

td input[type="number" ]{
	width: 60px;
	text-align: center;
}

.table {
	margin-top: 10px;
}

.table thead th {
	border-bottom: 0px;
	border-top: 0px;
	text-align: center;
}

.table tfoot tr th:first-child{
	text-align: left;
}

.table tfoot tr th{
	text-align: center;
}
/* navbar css start */
.topnav {
  overflow: hidden;
  background-color: #404347;
}

#selectedDistributoreNome,
#selectedDistributorePrezzo {
	margin: 0 auto;
	padding: 0px;
	font-weight: bold;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
    background-color: #bc2131;
    color: white;
}
 /*nav bar css end */
/* carrello css*/
.carrello{
	float: right;
	height: 100%;
	background-color: #bc2131;
}
.menu{
	float: left;
}
.logo{
 background-color: white;
}

.card{
	margin-bottom: 20px;
	transition-duration: 0.4s;
}

#cardCarrello {
	margin-bottom: 5px;
}

#cardCarrello:hover {
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
}

.card:hover {
	box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2), 0 10px 24px 0 rgba(0,0,0,0.19);
}

.productFilter{
	margin-left: 50px;
}

.searchAndInsert{
	margin-left: 12%;
}

.insertNewItem{
	margin-left: 30px;
}
