<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ForteamGroup - Preventivi</title>

		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,400|Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/riepilogo/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/riepilogo/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/riepilogo/dragdealer.css" />
		<link rel="stylesheet" type="text/css" href="css/riepilogo/componentRiepilogo.css" />
		<link rel="stylesheet" type="text/css" href="css/riepilogo/stylePreventivi.css">
		<link href="css/riepilogo/font-awesome.css" rel="stylesheet">
	    <link href="css/riepilogo/bootstrap.min.css" rel="stylesheet">
	    <link href="css/riepilogo/style.default.css" rel="stylesheet" id="theme-stylesheet">
  		<script src="js/riepilogo/modernizr.custom.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	</head>
	<body>
		<div class="container">

				<header id="header" class="codrops-header">
					<button class="slider-switch">Swiccha da qui</button>
				</header>
				<div id="slideshow" class="dragslider">
					<section class="img-dragger img-dragger-large dragdealer">
						<div class="handle">
							<div class="slide" data-content="content-1">
								<div class="img-wrap"><img src="img/2.jpg" alt="img2"/></div>
								<h2>Riepilogo Azienda
									<span>L'anteprima del riepilogo completo per visualizzare il tuo guadagno</span>
									<span><a id="linkToAnteprima" href="anteprima.html">Visualizza l'anteprima aziendale</a></span>
								</h2>
								<button class="content-switch">Read more</button>
							</div>
							<div class="slide" data-content="content-2">
								<div class="img-wrap"><img src="img/1.jpg" alt="img1"/></div>
								<h2>Riepilogo Cliente
									<span>L'anteprima del riepilogo del tuo cliente</span>
									<span><a id="linkToAnteprima" href="anteprima.html">Visualizza l'anteprima del cliente</a></span>
								</h2>
								<button class="content-switch">Read more</button>
							</div>

						</div>
					</section><!-- /img-dragger-->
					<!-- Content section -->
                 <div ng-app="myApp" ng-controller="allTabDataFromPreventivi">
					<section class="pages">
						<div class="content" data-content="content-1">
								<div id="allTabDataFromPreventivi">
									<div class="card" id="cardAzienda">
										<div class="card-header text-center font-weight-bold lead">Cliente richiedente preventivo</div>
										<div class="card-body">
											<table class="table table-hover table-responsive">
												<thead>
													<tr class="row">
														<th class="col-sm-3">Nome</th>
														<th class="col-sm-3">Indirizzo</th>
														<th class="col-sm-3">Partita IVA</th>
														<th class="col-sm-3">Codice fiscale</th>
													</tr>
												</thead>
												<tbody>
													<tr class="row" ng-repeat="x in azienda">
														<td class="col-sm-3">{{x.Nome_azienda | uppercase}}</td>
														<td class="col-sm-3">{{x.Indirizzo | uppercase}}</td>
														<td class="col-sm-3">{{x.Partita_iva | uppercase}}</td>
														<td class="col-sm-3">{{x.Codice_fiscale | uppercase}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<td>
									</div>
									<!-- card distributore - start -->
									<div class="card" id="cardDistributore">
										<div class="card-header text-center font-weight-bold lead">Distributore</div>
										<div class="card-body">
											<table class="table table-hover table-responsive" id="tabProdottiRiepilogo">
												<thead>
													<tr>
														<th>Codice</th>
														<th>Prodotto</th>
														<th>Desrizione</th>
														<th>Quantità</th>
														<th>Prezzo acquisto</th>
														<th>Prezzo listino</th>
														<th>Sconto</th>
														<th>Totale vendita</th>
														<th>Ricavo</th>
														<th>%Ricavo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="x in distributore">
														<td>{{x.Codice}}</td>
														<td>{{x.Nome}}</td>
														<td>{{x.Descrizione}}</td>
														<td>{{x.Quantita}}</td>
														<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
														<td>{{x.Prezzo_listino | currency:"€"}}</td>
														<td ng-mouseover="hoverSconto = true" ng-mouseleave="hoverSconto = false">
															<span ng-hide="hoverSconto">%{{x.Sconto + 0}}</span>
															<input ng-show="hoverSconto" type="number" min="0" placeholder="0" step="any" ng-model="scontoDistibutore" ng-change="changeScontoDistributore(scontoDistibutore, $index)">
														</td>
														<td>{{x.Ricavo_scontato | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<th colspan="7">TOTALE</th>
														<th id="priceCardDistributori">{{Ricavo_distributore | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_distributore >= 0, perdita: Guadagno_distributore < 0}' id="priceCardDistributori">{{Guadagno_distributore | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_distributore_percentuale >= 0, perdita: Guadagno_distributore_percentuale < 0}' id="priceCardDistributori">%{{Guadagno_distributore_percentuale | number}}</th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<!-- card distributore - end -->
									<!-- card accessori - start -->
									<div class="card" id="cardAccessori">
										<div class="card-header text-center font-weight-bold lead">Accessori</div>
										<div class="card-body">
											<table class="table table-hover table-responsive" id="tabProdottiRiepilogo">
												<thead>
													<tr>
														<th>Codice</th>
														<th>Prodotto</th>
														<th>Desrizione</th>
														<th>Quantità</th>
														<th>Prezzo acquisto</th>
														<th>Prezzo listino</th>
														<th>Sconto</th>
														<th>Totale vendita</th>
														<th>Ricavo</th>
														<th>%Ricavo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="x in accessori">
														<td>{{x.Codice}}</td>
														<td>{{x.Nome}}</td>
														<td>{{x.Descrizione}}</td>
														<td>{{x.Quantita}}</td>
														<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
														<td>{{x.Prezzo_listino | currency:"€"}}</td>
														<td ng-mouseover="hoverSconto = true" ng-mouseleave="hoverSconto = false">
															<span ng-hide="hoverSconto">%{{x.Sconto + 0}}</span>
															<input ng-show="hoverSconto" type="number" min="0" step="any" placeholder="0" ng-model="scontoAccessori" ng-change="changeScontoAccessori(scontoAccessori, x.Codice)">
														</td>
														<td>{{x.Ricavo_scontato | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<th colspan="7">TOTALE</th>
														<th id="priceCardAccessori">{{Ricavo_accessori | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_accessori >= 0, perdita: Guadagno_accessori < 0}' id="priceCardAccessori">{{Guadagno_accessori | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_accessori_percentuale >= 0, perdita: Guadagno_accessori_percentuale < 0}' id="priceCardAccessori">%{{Guadagno_accessori_percentuale | number}}</th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<!-- card accessori - end -->

									<!-- card software - start -->
									<div class="card" id="cardSoftware">
										<div class="card-header text-center font-weight-bold lead">Software</div>
										<div class="card-body">
											<table class="table table-hover table-responsive" id="tabProdottiRiepilogo">
												<thead>
													<tr>
														<th>Codice</th>
														<th>Prodotto</th>
														<th>Desrizione</th>
														<th>Quantità</th>
														<th>Prezzo acquisto</th>
														<th>Prezzo listino</th>
														<th>Sconto</th>
														<th>Totale vendita</th>
														<th>Ricavo</th>
														<th>%Ricavo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="x in software">
														<td>{{x.Codice}}</td>
														<td>{{x.Tipologia}}</td>
														<td>{{x.Descrizione}}</td>
														<td>{{x.Quantita}}</td>
														<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
														<td>{{x.Prezzo_listino | currency:"€"}}</td>
														<td ng-mouseover="hoverSconto = true" ng-mouseleave="hoverSconto = false">
															<span ng-hide="hoverSconto">%{{x.Sconto + 0}}</span>
															<input ng-show="hoverSconto" type="number" min="0" step="any" placeholder="0" name="scontoSoftware" ng-model="scontoSoftware" ng-change="changeScontoSoftware(scontoSoftware, x.Codice)">
														</td>
														<td>{{x.Ricavo_scontato | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<th colspan="7">TOTALE</th>
														<th id="priceCardSoftware">{{Ricavo_software | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_software >= 0, perdita: Guadagno_software < 0}' id="priceCardSoftware">{{Guadagno_software | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_software_percentuale >= 0, perdita: Guadagno_software_percentuale < 0}' id="priceCardSoftware">%{{Guadagno_software_percentuale | number}}</th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<!-- card software - end -->

									<!-- card licenze - start -->
									<div class="card" id="cardLicenze">
										<div class="card-header text-center font-weight-bold lead">Licenze</div>
										<div class="card-body">
											<table class="table table-hover table-responsive" id="tabProdottiRiepilogo">
												<thead>
													<tr>
														<th>Codice</th>
														<th>Prodotto</th>
														<th>Desrizione</th>
														<th>Quantità</th>
														<th>Prezzo acquisto</th>
														<th>Prezzo listino</th>
														<th>Sconto</th>
														<th>Totale vendita</th>
														<th>Ricavo</th>
														<th>%Ricavo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="x in licenze">
														<td>{{x.Codice}}</td>
														<td>{{x.Tipologia}}</td>
														<td>{{x.Descrizione}}</td>
														<td>{{x.Quantita}}</td>
														<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
														<td>{{x.Prezzo_listino | currency:"€"}}</td>
														<td ng-mouseover="hoverSconto = true" ng-mouseleave="hoverSconto = false">
															<span ng-hide="hoverSconto">%{{x.Sconto + 0}}</span>
															<input ng-show="hoverSconto" type="number" min="0" step="any" placeholder="0" name="scontoLicenze" ng-model="scontoLicenze" ng-change="changeScontoLicenze(scontoLicenze, x.Codice)">
														</td>
														<td>{{x.Ricavo_scontato | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<th colspan="7">TOTALE</th>
														<th id="priceCardLicenze">{{Ricavo_licenze | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_licenze >= 0, perdita: Guadagno_licenze < 0}' id="priceCardLicenze">{{Guadagno_licenze | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_licenze_percentuale >= 0, perdita: Guadagno_licenze_percentuale < 0}' id="priceCardLicenze">%{{Guadagno_licenze_percentuale | number}}</th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<!-- card licenze - end -->

									<!-- card servizi - start -->
									<div class="card" id="cardServizi">
										<div class="card-header text-center font-weight-bold lead">Servizi & Assistenza</div>
										<div class="card-body">
											<table class="table table-hover table-responsive" id="tabProdottiRiepilogo">
												<thead>
													<tr>
														<th>Codice</th>
														<th>Prodotto</th>
														<th>Desrizione</th>
														<th>Quantità</th>
														<th>Prezzo acquisto</th>
														<th>Prezzo listino</th>
														<th>Sconto</th>
														<th>Totale vendita</th>
														<th>Ricavo</th>
														<th>%Ricavo</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="x in servizi">
														<td>{{x.Codice}}</td>
														<td>{{x.Tipologia}}</td>
														<td>{{x.Descrizione}}</td>
														<td>{{x.Quantita}}</td>
														<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
														<td>{{x.Prezzo_listino | currency:"€"}}</td>
														<td ng-mouseover="hoverSconto = true" ng-mouseleave="hoverSconto = false">
															<span ng-hide="hoverSconto">%{{x.Sconto + 0}}</span>
															<input ng-show="hoverSconto" type="number" min="0" step="any" placeholder="0" name="scontoServizi" ng-model="scontoServizi" ng-change="changeScontoServizi(scontoServizi, x.Codice)">
														</td>
														<td>{{x.Ricavo_scontato | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
														<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<th colspan="7">TOTALE</th>
														<th id="priceCardServizi">{{Ricavo_servizi | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_servizi >= 0, perdita: Guadagno_servizi < 0}' id="priceCardServizi">{{Guadagno_servizi | currency:"€"}}</th>
														<th ng-class='{guadagno: Guadagno_servizi_percentuale >= 0, perdita: Guadagno_servizi_percentuale < 0}' id="priceCardServizi">%{{Guadagno_servizi_percentuale | number}}</th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									<!-- card servizi - end -->

									<!-- card servizi - start -->
									<div class="card" id="cardRicavoGuadagno">
										<div class="card-header text-center font-weight-bold lead">Prezzo finale & Ricavo</div>
										<div class="card-body">
											<table class="table table-responsive fixed">
												<thead>
													<tr>
														<th style="width: 25%">Prezzo finale</th>
														<th style="width: 25%">Prezzo finale con iva</th>
														<th style="width: 25%">Ricavo</th>
														<th style="width: 25%">%Ricavo</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td ng-mouseover="hoverIva = true" ng-mouseleave="hoverIva = false">
															<h2 ng-hide="hoverIva">{{Ricavo_totale | currency:'€'}}</h2>
															<p class="text-center" ng-show="hoverIva">Inserire la percentuale di IVA desiderata</p>
															<input type="number" ng-show="hoverIva" id="inputIVA" min="0" step="any" placeholder="0" name="inputIVA" ng-model="inputIVA" ng-change="changeInputIVA(inputIVA)">
														</td>
														<td ng-class='{guadagno: Guadagno_totale >= 0, perdita: Guadagno_totale < 0}'><h2>{{Ricavo_totale_iva | currency:'€'}}</h2></td>
														<td ng-class='{guadagno: Guadagno_totale >= 0, perdita: Guadagno_totale < 0}'><h2>{{Guadagno_totale | currency:'€'}}</h2></td>
														<td ng-class='{guadagno: Guadagno_totale_percentuale >= 0, perdita: Guadagno_totale_percentuale < 0}'><h2>%{{Guadagno_totale_percentuale | number}}</h2></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!-- card servizi - end -->
									<!-- card note aggiuntive -->
									<div class="card">
										<div class="card-header text-center" role="tab" id="cardNoteAggiuntiveAzienda">
											<p data-toggle="collapse" href="#noteAggiuntive" aria-expanded="true" aria-controls="noteAggiuntive">Note aggiuntive</p>
										</div>
										<div id="noteAggiuntive" class="collapse" role="tabpanel" aria-labelledby="cardNoteAggiuntiveAzienda" data-parent="#accordion">
											<div class="card-body">
												<textarea class="form-control" rows="2" id="comment" name="noteAziendali" ng-model="noteAziendali" ng-change="noteAggiuntiveAziendali()"></textarea>
											</div>
										</div>
									</div>
								</div>
						</div>


						<!-- tabella riepilogo dell'utente -->
						<div class="content" data-content="content-2">
							<div id="tabellaPreventivoCliente">
								<div class="card" id="cardAzienda">
									<div class="card-header text-center font-weight-bold lead">Cliente richiedente preventivo</div>
									<div class="card-body">
										<table class="table table-hover table-responsive">
											<thead>
												<tr class="row">
													<th class="col-sm-3">Nome</th>
													<th class="col-sm-3">Indirizzo</th>
													<th class="col-sm-3">Partita IVA</th>
													<th class="col-sm-3">Codice fiscale</th>
												</tr>
											</thead>
											<tbody>
												<tr class="row" ng-repeat="x in azienda">
													<td class="col-sm-3">{{x.Nome_azienda | uppercase}}</td>
													<td class="col-sm-3">{{x.Indirizzo | uppercase}}</td>
													<td class="col-sm-3">{{x.Partita_iva | uppercase}}</td>
													<td class="col-sm-3">{{x.Codice_fiscale | uppercase}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="card" id="cardDistributoreCliente">
									<div class="card-header text-center font-weight-bold lead">Distributore</div>
									<div class="card-body">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Codice</th>
													<th>Prodotto</th>
													<th>Desrizione</th>
													<th>Quantità</th>
													<th>Prezzo listino</th>
													<th>Totale</th>
													<th>Sconto</th>
													<th>Totale(scontato)</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in distributore">
													<td>{{x.Codice}}</td>
													<td>{{x.Nome}}</td>
													<td>{{x.Descrizione}}</td>
													<td>{{x.Quantita}}</td>
													<td>{{x.Prezzo_listino | currency:"€"}}</td>
													<td>{{x.Prezzo_listino | currency:"€"}}</td>
													<td>{{Sconto_distributore + 0}}%</td>
													<td ng-class="{guadagno: Sconto_distributore > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th colspan="7">TOTALE</th>
													<th id="priceCardDistributoreCliente">{{Ricavo_distributore | currency:"€"}}</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<!-- card distributore - end -->
								<!-- card accessori - start -->
								<div class="card" id="cardAccessoriCliente">
									<div class="card-header text-center font-weight-bold lead">Accessori</div>
									<div class="card-body">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Codice</th>
													<th>Prodotto</th>
													<th>Desrizione</th>
													<th>Quantità</th>
													<th>Prezzo listino</th>
													<th>Totale</th>
													<th>Sconto</th>
													<th>Totale(scontato)</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in accessori">
													<td>{{x.Codice}}</td>
													<td>{{x.Nome}}</td>
													<td>{{x.Descrizione}}</td>
													<td>{{x.Quantita}}</td>
													<td>{{x.Prezzo_listino | currency:"€"}}</td>
													<td>{{x.Totale | currency:"€"}}</td>
													<td>{{x.Sconto + 0}}%</td>
													<td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th colspan="7">TOTALE</th>
													<th id="priceCardAccessoriCliente">{{Ricavo_accessori | currency:"€"}}</th>
											</tfoot>
										</table>
									</div>
								</div>
								<!-- card accessori - end -->

								<!-- card software - start -->
								<div class="card" id="cardSoftwareCliente">
									<div class="card-header text-center font-weight-bold lead">Software</div>
									<div class="card-body">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Codice</th>
													<th>Prodotto</th>
													<th>Desrizione</th>
													<th>Quantità</th>
													<th>Prezzo listino</th>
													<th>Totale</th>
													<th>Sconto</th>
													<th>Totale(scontato)</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in software">
													<td>{{x.Codice}}</td>
													<td>{{x.Tipologia}}</td>
													<td>{{x.Descrizione}}</td>
													<td>{{x.Quantita}}</td>
													<td>{{x.Prezzo_listino | currency:"€"}}</td>
													<td>{{x.Totale | currency:"€"}}</td>
													<td>{{x.Sconto + 0}}%</td>
													<td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
											</tbody>
											<tfoot>
												<tr>
													<th colspan="7">TOTALE</th>
													<th id="priceCardSoftwareCliente">{{Ricavo_software | currency:"€"}}</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<!-- card software - end -->

								<!-- card licenze - start -->
								<div class="card" id="cardLicenzeCliente">
									<div class="card-header text-center font-weight-bold lead">Licenze</div>
									<div class="card-body">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Codice</th>
													<th>Prodotto</th>
													<th>Desrizione</th>
													<th>Quantità</th>
													<th>Prezzo listino</th>
													<th>Totale</th>
													<th>Sconto</th>
													<th>Totale(scontato)</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in licenze">
													<td>{{x.Codice}}</td>
													<td>{{x.Tipologia}}</td>
													<td>{{x.Descrizione}}</td>
													<td>{{x.Quantita}}</td>
													<td>{{x.Prezzo_listino | currency:"€"}}</td>
													<td>{{x.Totale | currency:"€"}}</td>
													<td>{{x.Sconto + 0}}%</td>
													<td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th colspan="7">TOTALE</th>
													<th id="priceCardLicenzeCliente">{{Ricavo_licenze | currency:"€"}}</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<!-- card licenze - end -->

								<!-- card servizi - start -->
								<div class="card" id="cardServiziCliente">
									<div class="card-header text-center font-weight-bold lead">Servizi & Assistenza</div>
									<div class="card-body">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Codice</th>
													<th>Prodotto</th>
													<th>Desrizione</th>
													<th>Quantità</th>
													<th>Prezzo listino</th>
													<th>Totale</th>
													<th>Sconto</th>
													<th>Totale(scontato)</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in servizi">
													<td>{{x.Codice}}</td>
													<td>{{x.Tipologia}}</td>
													<td>{{x.Descrizione}}</td>
													<td>{{x.Quantita}}</td>
													<td>{{x.Prezzo_listino | currency:"€"}}</td>
													<td>{{x.Totale | currency:"€"}}</td>
													<td>{{x.Sconto + 0}}%</td>
													<td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th colspan="7">TOTALE</th>
													<th id="priceCardServiziCliente">{{Ricavo_servizi | currency:"€"}}</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<!-- card servizi - end -->

								<!-- card servizi - start -->
								<div class="card" id="cardRicavoGuadagno">
									<div class="card-header text-center font-weight-bold lead">Prezzo finale preventivo</div>
									<div class="card-body">
										<table class="table table-responsive fixed">
											<thead>
												<tr>
													<th style="width: 33%">Totale Imponibile</th>
													<th style="width: 33%">Percentuale iva</th>
													<th style="width: 33%">Totale Preventivo iva inclusa</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><h2>{{Ricavo_totale | currency:'€'}}</h2></td>
													<td><h2>%{{Percentuale_iva}}</h2></td>
													<td ng-class='{guadagno: Guadagno_totale >= 0, perdita: Guadagno_totale < 0}'><h2>{{Ricavo_totale_iva | currency:'€'}}</h2></td>
											</tbody>
										</table>
									</div>
								</div>
								<!-- card servizi - end -->

								<!-- card note aggiuntive -->
								<div class="card">
									<div class="card-header text-center" role="tab" id="cardNoteAggiuntiveCliente">
										<p data-toggle="collapse" href="#noteAggiuntiveCliente" aria-expanded="true" aria-controls="noteAggiuntiveCliente">Note aggiuntive</p>
									</div>
									<div id="noteAggiuntiveCliente" class="collapse" role="tabpanel" aria-labelledby="cardNoteAggiuntiveCliente" data-parent="#accordion">
										<div class="card-body">
											<textarea class="form-control" rows="2" id="comment" name="noteCliente" ng-model="noteCliente" ng-change="noteAggiuntiveCliente()"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div><!-- /container -->





		<script src="js/riepilogo/dragdealer.js"></script>
		<script src="js/riepilogo/classie.js"></script>
		<script src="js/riepilogo/dragslideshow.js"></script>
		<script src="js/riepilogo/scriptRiepilogo.js"></script>
		<script src="js/riepilogo/bootstrap.js"></script>
		<script src="js/riepilogo/bootstrap.min.js"></script>
		<script>
			(function() {

				var overlay = document.getElementById( 'overlay' ),

					header = document.getElementById( 'header' )
					switchBtnn = header.querySelector( 'button.slider-switch' ),
					toggleBtnn = function() {
						if( slideshow.isFullscreen ) {
							classie.add( switchBtnn, 'view-maxi' );
						}
						else {
							classie.remove( switchBtnn, 'view-maxi' );
						}
					},
					toggleCtrls = function() {
						if( !slideshow.isContent ) {
							classie.add( header, 'hide' );
						}
					},
					toggleCompleteCtrls = function() {
						if( !slideshow.isContent ) {
							classie.remove( header, 'hide' );
						}
					},
					slideshow = new DragSlideshow( document.getElementById( 'slideshow' ), {
						// toggle between fullscreen and minimized slideshow
						onToggle : toggleBtnn,
						// toggle the main image and the content view
						onToggleContent : toggleCtrls,
						// toggle the main image and the content view (triggered after the animation ends)
						onToggleContentComplete : toggleCompleteCtrls
					}),
					toggleSlideshow = function() {
						slideshow.toggle();
						toggleBtnn();
					},
					closeOverlay = function() {
						classie.add( overlay, 'hide' );
					};

				// toggle between fullscreen and small slideshow
				switchBtnn.addEventListener( 'click', toggleSlideshow );
				// close overlay
				// overlayClose.addEventListener( 'click', closeOverlay );

			}());
		</script>
	</body>
</html>
