<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ForteamGroup - Preventivi</title>
		<!-- CDN packages Angularjs -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<!-- CDN packages Angularjs -->
		<!-- CDN packages Material -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
		<!-- CDN packages Material-->
	</head>
	<body ng-app="preventivoAngularApp" ng-controller="preventivoController">
		<!-- login input - start-->

			<div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				  <input class="mdl-textfield__input" id="sample3" type="text" name="username" ng-model="usernameLogin">
				  <label class="mdl-textfield__label" for="sample3">Username</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			      <input class="mdl-textfield__input" id="sample3" type="text" name="password" ng-model="passwordLogin">
			      <label class="mdl-textfield__label" for="sample3">Password</label>
			    </div>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="buttonLogin" ng-click="userLoginAutentication()">Login</button>
			</div>


		<!-- Login input - end -->

		<div class="container-fluid">
			<!-- input dati del cliente - start -->
			<div class="row">
				<div class="col">
					<div class="" id="divInputDatiCliente">
						<form class="" name="clienteForm">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							  <input class="mdl-textfield__input" id="sample3" type="text" name="nomeCliente">
							  <label class="mdl-textfield__label" for="sample3">Username</label>
							</div>
							<input type="email" name="emailCliente" placeholder="Email">
							<input type="text" name="indirizzoCliente" placeholder="Indirizzo">
							<input type="text" name="partitaIVACliente" placeholder="Partiva IVA">
							<input type="text" name="codiceFiscaleCliente" placeholder="Codice fiscale">
						</form>
					</div>
				</div>
			</div>
			<!-- input dati del cliente - end -->

			<!-- select del distributore desiderato - start -->
			<div class="row">
				<div class="col">
					<div class="" id="divSelectDistributore">
						<select class="" name="selectDistributore" ng-model="selectedDistributore" ng-options="x as x.Nome for x in distributori" ng-change="getSelectedDistributore(selectedDistributore)">
							<option value="">NESSUN DISTRIBUTORE</option>
						</select>
					</div>
				</div>
			</div>
			<!-- select del distributore desiderato - end -->

			<!-- tabelle che contengono i componenti selezionabili - start -->
			<div class="row">
				<div class="col">
					<!-- optional inputs field - start -->
					<input type="text" name="searchItem" placeholder="Search" ng-model="searchItem">
					<button type="button" name="createcustomizedItem" ng-click="openCustomizedProduct()">Crea prodotto personalizzato</button>
					<!-- optional inputs field - end -->

					<!-- tabella prodotti hardware - start -->
					<div class="" id="divContenenteTabellaProdottiHardware">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Codice</th>
									<th>Nome</th>
									<th>Descrizione</th>
									<th>Prezzo listino</th>
									<th>Quantità</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in prodottiHardware | filter:searchItem">
								   <td>{{x.Codice}}</td>
								   <td>{{x.Nome}}</td>
								   <td>{{x.Descrizione}}</td>
								   <td>{{x.Prezzo_listino | currency:"€"}}</td>
								   <td><input type="number" min="0" name="prodottiHardwareQuantita" placeholder="0" ng-model="prodottiHardwareQuantita" ng-change="getProdottiHardwareQuantita(prodottiHardwareQuantita, x)"></td>
							   </tr>
							</tbody>
						</table>
					</div>
					<!-- tabella prodotti hardware - end -->
					<!-- tabella licenze - start -->
					<div class="" id="divContenenteTabellaLicenze">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Codice</th>
									<th>Tipologia</th>
									<th>Descrizione</th>
									<th>Prezzo listino</th>
									<th>Quantità</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in licenze | filter:searchItem">
								   <td>{{x.Codice}}</td>
								   <td>{{x.Tipologia}}</td>
								   <td>{{x.Descrizione}}</td>
								   <td>{{x.Prezzo_listino | currency:"€"}}</td>
								   <td><input type="number" min="0" name="licenzeQuantita" placeholder="0" ng-model="licenzeQuantita" ng-change="getLicenzeQuantita(licenzeQuantita, x)"></td>
							   </tr>
							</tbody>
						</table>
					</div>
					<!-- tabella licenze - end -->
					<!-- tabella prodotti local - start -->
					<div class="" id="divContenenteTabellaProdottiLocal">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Codice</th>
									<th>Tipologia</th>
									<th>Descrizione</th>
									<th>Prezzo listino</th>
									<th>Quantità</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in local | filter:searchItem">
								   <td>{{x.Codice}}</td>
								   <td>{{x.Tipologia}}</td>
								   <td>{{x.Descrizione}}</td>
								   <td>{{x.Prezzo_listino | currency:"€"}}</td>
								   <td><input type="number" min="0" name="localQuantita" placeholder="0" ng-model="localQuantita" ng-change="getLocalQuantita(localQuantita, x)"></td>
							   </tr>
							</tbody>
						</table>
					</div>
					<!-- tabella prodotti local - end -->
					<!-- tabella canoni - start -->
					<div class="" id="divContenenteTabellaCanoni">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Codice</th>
									<th>Tipologia</th>
									<th>Descrizione</th>
									<th>Prezzo listino</th>
									<th>Quantità</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in canoni | filter:searchItem">
								   <td>{{x.Codice}}</td>
								   <td>{{x.Tipologia}}</td>
								   <td>{{x.Descrizione}}</td>
								   <td>{{x.Prezzo_listino | currency:"€"}}</td>
								   <td><input type="number" min="0" name="canoniQuantita" placeholder="0" ng-model="canoniQuantita" ng-change="getCanoniQuantita(canoniQuantita, x)"></td>
							   </tr>
							</tbody>
						</table>
					</div>
					<!-- tabella canoni - end -->
				</div>
			</div>
			<!-- tabelle che contengono i componenti selezionabili - end -->
		</div>

		<!-- carrello - start -->
		<div class="container-fluid">
			<!-- tabella distributore - start -->
			<div class="row">
				<div class="col">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Prodotto</th>
								<th>Quantità</th>
								<th>Prezzo listino</th>
								<th>Totale</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in cartDistributoreSelected">
								<td>{{x.Nome}}</td>
								<td>{{x.Quantita}}</td>
								<td>{{x.Prezzo_listino | currency:"€"}}</td>
								<td>{{x.Prezzo_listino | currency:"€"}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="3">TOTALE</th>
								<th>{{cartTotalDistributoreSelected | currency:"€"}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!-- tabella distributore - end -->
			<!-- tabella prodottiHardware - start -->
			<div class="row">
				<div class="col">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Prodotto</th>
								<th>Quantità</th>
								<th>Prezzo listino</th>
								<th>Totale</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in cartProdottiHardwareSelected">
								<td>{{x.Nome}}</td>
								<td>{{x.Quantita}}</td>
								<td>{{x.Prezzo_listino | currency:"€"}}</td>
								<td>{{x.Prezzo_listino_quantita | currency:"€"}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="3">TOTALE</th>
								<th>{{cartTotalProdottiHardwareSelected | currency:"€"}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!-- tabella prodottiHardware - end -->
			<!-- tabella licenze - start -->
			<div class="row">
				<div class="col">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Prodotto</th>
								<th>Quantità</th>
								<th>Prezzo listino</th>
								<th>Totale</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in cartLicenzeSelected">
								<td>{{x.Tipologia}}</td>
								<td>{{x.Quantita}}</td>
								<td>{{x.Prezzo_listino | currency:"€"}}</td>
								<td>{{x.Prezzo_listino_quantita | currency:"€"}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="3">TOTALE</th>
								<th>{{cartTotalLicenzeSelected | currency:"€"}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!-- tabella licenze - end -->
			<!-- tabella local - start -->
			<div class="row">
				<div class="col">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Prodotto</th>
								<th>Quantità</th>
								<th>Prezzo listino</th>
								<th>Totale</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in cartLocalSelected">
								<td>{{x.Tipologia}}</td>
								<td>{{x.Quantita}}</td>
								<td>{{x.Prezzo_listino | currency:"€"}}</td>
								<td>{{x.Prezzo_listino_quantita | currency:"€"}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="3">TOTALE</th>
								<th>{{cartTotalLocalSelected | currency:"€"}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!-- tabella local - end -->
			<!-- tabella canoni - start -->
			<div class="row">
				<div class="col">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Prodotto</th>
								<th>Quantità</th>
								<th>Prezzo listino</th>
								<th>Totale</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in cartCanoniSelected">
								<td>{{x.Tipologia}}</td>
								<td>{{x.Quantita}}</td>
								<td>{{x.Prezzo_listino | currency:"€"}}</td>
								<td>{{x.Prezzo_listino_quantita | currency:"€"}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="3">TOTALE</th>
								<th>{{cartTotalCanoniSelected | currency:"€"}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<!-- tabella canoni - end -->
			<!-- totale complessivo del carrello - start -->
			<h2>{{cartOverallTotalAllItemsSelected | currency:"€"}}</h2>
			<!-- totale complessivo del carrello - end -->
			<!-- pulsanti chiusura - e passaggio a riepilogo - sart-->
			<button type="button" name="closeCart" ng-click="closeCart()">Chiudi</button>
			<button type="button" name="goToRiepilogo" ng-click="goToRiepilogo()">Vai al riepilogo</button>
			<!-- pulsanti chiusura - e passaggio a riepilogo - end-->
		</div>
		<!-- carrello - end -->

		<!-- prodotto personalizzato - start -->
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<select class="" name="categoriaCustomizedProduct" ng-model="categoriaCustomizedProduct">
						<option disabled selected value="">Seleziona una categoria</option>
						<option value="0">Prodotti Hardware</option>
						<option value="1">Licenze</option>
						<option value="2">Local</option>
						<option value="3">Canoni</option>
					</select>
					<input type="text" name="codice" placeholder="Codice" ng-model="codiceCustomizedProduct">
					<input type="text" name="nome" placeholder="Nome/Tipologia" ng-model="nomeCustomizedProduct">
					<input type="text" name="descrizione" placeholder="Descrizione" ng-model="descrizioneCustomizedProduct">
					<input type="number" name="prezzoAcquisto" placeholder="Prezzo di acquisto" ng-model="prezzoAcquistoCustomizedProduct">
					<input type="number" name="prezzoListino" placeholder="Prezzo di listino" ng-model="prezzoListinoCustomizedProduct">
					<button type="button" name="closeCustomizedProduct" ng-click="closeCustomizedProduct()">Annulla</button>
					<button type="button" name="createCustomizedProduct" ng-click="createCustomizedProduct()">Crea</button>
				</div>
			</div>
		</div>
		<!-- prodotto personalizzato - end -->

		<script type="text/javascript" src="script.js"></script>
	</body>
</html>
