<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ForteamGroup - Preventivi</title>
		<link rel="stylesheet" type="text/css" href="css/anteprimaStyle.css">
		<link rel="stylesheet" type="text/css" href="css/StyleAnteprima.css" />
		<script src="js/modernizr.custom.js"></script>
		<!-- librerie CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
		<script src="//kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
		<!-- librerie CDN -->
	</head>
	<body>
		<div class="containerAnteprima" ng-app="myApp" ng-controller="stampa">
			<div id="bl-main" class="bl-main">
				<section id="bl-work-section">
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-works">Anteprima Azienda<br>
							<button class="btn btn-5 btn-5a icon icon-file-pdf" onclick="printDiv('anteprimaAzienda')"><span>PRINT/DOWNLOAD PDF</span></button>
						</h2>
						<!-- <input type="button" onclick="printDiv('anteprimaAzienda')" value="PDF"> -->
					</div>
					<div class="bl-content">
						<div class="padding-anteprima" id="anteprimaAzienda">
							<header class="onlyprint">
								<div class="col" id="centerLogo">
										<div class="headerLogo text-center">
											<img src="images/Logo.png" alt="logo azienda">
										</div>

								</div>
							</header>

								<div class="row">
									<div class="col col-9">
										<table class="table table-responsive cliente">
											<thead>
												<tr>
													<th>NOME</th>
													<th>INDIRIZZO</th>
													<th>PARTITA IVA</th>
													<th>CODICE FISCALE</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in azienda">
													<td style="width: 25%">{{x.Nome_azienda | uppercase}}</td>
													<td style="width: 25%">{{x.Indirizzo | uppercase}}</td>
													<td style="width: 25%">{{x.Partita_iva | uppercase}}</td>
													<td style="width: 25%">{{x.Codice_fiscale | uppercase}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

							<div class="row">
								<div class="col col-9">
									<table class="table table-responsive" id="table-distributore">
										<thead>
											<tr>
												<th>Codice</th>
												<th>Prodotto</th>
												<th>Qnt.</th>
												<th>Prezzo acquisto</th>
												<th>Prezzo listino</th>
												<th>Sconto</th>
												<th>Totale vendita</th>
												<th>Ricavo</th>
												<th>%Ricavo</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in distributore">
												<td>{{x.Codice}}</td>
												<td>{{x.Nome}}</td>
												<td>{{x.Quantita}}</td>
												<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
												<td>{{x.Prezzo_listino | currency:"€"}}</td>
												<td>%{{x.Sconto + 0}}</td>
												<td>{{x.Ricavo_scontato | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="6">TOTALE</th>
												<th id="priceCardDistributori">{{Ricavo_distributore | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_distributore >= 0, perdita: Guadagno_distributore < 0}' id="priceCardDistributori">{{Guadagno_distributore | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_distributore_percentuale >= 0, perdita: Guadagno_distributore_percentuale < 0}' id="priceCardDistributori">%{{Guadagno_distributore_percentuale | number}}</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>


							<div class="row">
								<div class="col col-9">
									<table class="table table-responsive" id="table-accessori">
										<thead>
											<tr>
												<th>Codice</th>
												<th>Prodotto</th>
												<th>Qnt.</th>
												<th>Prezzo acquisto</th>
												<th>Prezzo listino</th>
												<th>Sconto</th>
												<th>Totale vendita</th>
												<th>Ricavo</th>
												<th>%Ricavo</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in accessori">
												<td>{{x.Codice}}</td>
												<td>{{x.Nome}}</td>
												<td>{{x.Quantita}}</td>
												<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
												<td>{{x.Prezzo_listino | currency:"€"}}</td>
												<td>%{{x.Sconto + 0}}</td>
												<td>{{x.Ricavo_scontato | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="6">TOTALE</th>
												<th id="priceCardAccessori">{{Ricavo_accessori | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_accessori >= 0, perdita: Guadagno_accessori < 0}' id="priceCardAccessori">{{Guadagno_accessori | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_accessori_percentuale >= 0, perdita: Guadagno_accessori_percentuale < 0}' id="priceCardAccessori">%{{Guadagno_accessori_percentuale | number}}</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col col-9">
									<table class="table table-responsive" id="table-software">
										<thead>
											<tr>
												<th>Codice</th>
												<th>Prodotto</th>
												<th>Qnt.</th>
												<th>Prezzo acquisto</th>
												<th>Prezzo listino</th>
												<th>Sconto</th>
												<th>Totale vendita</th>
												<th>Ricavo</th>
												<th>%Ricavo</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in software">
												<td>{{x.Codice}}</td>
												<td>{{x.Tipologia}}</td>
												<td>{{x.Quantita}}</td>
												<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
												<td>{{x.Prezzo_listino | currency:"€"}}</td>
												<td>%{{x.Sconto + 0}}</td>
												<td>{{x.Ricavo_scontato | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="6">TOTALE</th>
												<th id="priceCardSoftware">{{Ricavo_software | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_software >= 0, perdita: Guadagno_software < 0}' id="priceCardSoftware">{{Guadagno_software | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_software_percentuale >= 0, perdita: Guadagno_software_percentuale < 0}' id="priceCardSoftware">%{{Guadagno_software_percentuale | number}}</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col col-9">
									<table class="table table-responsive" id="table-licenze">
										<thead>
											<tr>
												<th>Codice</th>
												<th>Prodotto</th>
												<th>Qnt.</th>
												<th>Prezzo acquisto</th>
												<th>Prezzo listino</th>
												<th>Sconto</th>
												<th>Totale vendita</th>
												<th>Ricavo</th>
												<th>%Ricavo</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in licenze">
												<td>{{x.Codice}}</td>
												<td>{{x.Tipologia}}</td>
												<td>{{x.Quantita}}</td>
												<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
												<td>{{x.Prezzo_listino | currency:"€"}}</td>
												<td>%{{x.Sconto + 0}}</td>
												<td>{{x.Ricavo_scontato | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="6">TOTALE</th>
												<th id="priceCardLicenze">{{Ricavo_licenze | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_licenze >= 0, perdita: Guadagno_licenze < 0}' id="priceCardLicenze">{{Guadagno_licenze | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_licenze_percentuale >= 0, perdita: Guadagno_licenze_percentuale < 0}' id="priceCardLicenze">%{{Guadagno_licenze_percentuale | number}}</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col col-9">
									<table class="table table-responsive" id="table-servizi">
										<thead>
											<tr>
												<th>Codice</th>
												<th>Prodotto</th>
												<th>Qnt.</th>
												<th>Prezzo acquisto</th>
												<th>Prezzo listino</th>
												<th>Sconto</th>
												<th>Totale vendita</th>
												<th>Ricavo</th>
												<th>%Ricavo</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in servizi">
												<td>{{x.Codice}}</td>
												<td>{{x.Tipologia}}</td>
												<td>{{x.Quantita}}</td>
												<td>{{x.Prezzo_acquisto | currency:"€"}}</td>
												<td>{{x.Prezzo_listino | currency:"€"}}</td>
												<td>%{{x.Sconto + 0}}</td>
												<td>{{x.Ricavo_scontato | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno >= 0, perdita: x.Guadagno < 0}'>{{x.Guadagno | currency:"€"}}</td>
												<td ng-class='{guadagno: x.Guadagno_percentuale >= 0, perdita: x.Guadagno_percentuale < 0}'>%{{x.Guadagno_percentuale | number}}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="6">TOTALE</th>
												<th id="priceCardServizi">{{Ricavo_servizi | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_servizi >= 0, perdita: Guadagno_servizi < 0}' id="priceCardServizi">{{Guadagno_servizi | currency:"€"}}</th>
												<th ng-class='{guadagno: Guadagno_servizi_percentuale >= 0, perdita: Guadagno_servizi_percentuale < 0}' id="priceCardServizi">%{{Guadagno_servizi_percentuale | number}}</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col col-9">
									<table class="table note" id="tableAzienda-note">
										<thead>
											<tr>
												<th>Note aggiuntive</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{Note_aggiuntive_aziendali}}</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

							<div class="row">
								<div class="col col-9">
									<table class="table table-totali">
										<thead>
											<tr>
												<th>Prezzo finale</th>
												<th>Ricavo</th>
												<th>%Ricavo</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="width: 33%"><h2>{{Ricavo_totale | currency:'€'}}<small style="font-size: 25%"> IVA Incl.</small></h2></td>
												<td style="width: 33%" ng-class='{guadagno: Guadagno_totale >= 0, perdita: Guadagno_totale < 0}'><h2>{{Guadagno_totale | currency:'€'}}</h2></td>
												<td style="width: 33%" ng-class='{guadagno: Guadagno_totale_percentuale >= 0, perdita: Guadagno_totale_percentuale < 0}'><h2>%{{Guadagno_totale_percentuale | number}}</h2></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col col9">
									<div class="footer">
										<p>FOTREAM GROUP SRL</p>
										<p>Sede legale: Corso Barolo, 47 - 12051 Alba (CN) | Sede operativa: Via F. Santi 3/6 - 10042 Nichelino (TO)</p>
										<p>Telefono: +39 011 0015516 | Partita IVA & Codice fiscale: 03601010048-N | REA: CN-302892</p>
									</div>

								</div>
							</div>

						</div>
					</div>
					<input type="button" name="db" value="db" ng-click="db()">
			      	<input type="button" onclick="printDiv('anteprimaAzienda')" value="Stampa il preventivo" />
					<span class="bl-icon bl-icon-close"></span>
				</section>
				<section>
					<div class="bl-box">
						<h2 class="bl-icon bl-icon-blog">
							Anteprima cliente
							<br>
							<button class="btn btn-5 btn-5a icon icon-file-pdf" onclick="printDiv('anteprimaUtente')"><span>PRINT/DOWNLOAD PDF</span></button>
						</h2>

					</div>
					<div class="bl-content">
						<div class="padding-anteprima" id="anteprimaUtente">
				            <!-- <div class="col">
				                <div class="headerLogo text-center">
				                        <img src="images/Logo.png" alt="logo azienda">
				                </div>
				            </div> -->

				            <!-- <div class="row">
				                <div class="col col-9">
				                    <table class="table table-responsive cliente">
				                        <thead>
				                            <tr>
				                                <th>NOME</th>
				                                <th>INDIRIZZO</th>
				                                <th>PARTITA IVA</th>
				                                <th>CODICE FISCALE</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr ng-repeat="x in azienda">
				                                <td style="width: 25%">{{x.Nome_azienda | uppercase}}</td>
				                                <td style="width: 25%">{{x.Indirizzo | uppercase}}</td>
				                                <td style="width: 25%">{{x.Partita_iva | uppercase}}</td>
				                                <td style="width: 25%">{{x.Codice_fiscale | uppercase}}</td>
				                            </tr>
				                        </tbody>
				                    </table>
				                </div>
				            </div> -->


				            <div class="row">
				                <div class="col col-9">
				                    <table class="table table-responsive" id="table-distributore">
				                        <thead>
											<tr>
												<th colspan="8">
													<div class="headerLogo text-center">
									                        <img src="images/Logo.png" alt="logo azienda">
									                </div>
												</th>
											</tr>
											<tr>
				                                <th colspan="2">NOME</th>
				                                <th colspan="2">INDIRIZZO</th>
				                                <th colspan="2">PARTITA IVA</th>
				                                <th colspan="2">CODICE FISCALE</th>
				                            </tr>
											<tr ng-repeat="x in azienda">
				                                <td colspan="2" style="width: 25%">{{x.Nome_azienda | uppercase}}</td>
				                                <td colspan="2" style="width: 25%">{{x.Indirizzo | uppercase}}</td>
				                                <td colspan="2" style="width: 25%">{{x.Partita_iva | uppercase}}</td>
				                                <td colspan="2" style="width: 25%">{{x.Codice_fiscale | uppercase}}</td>
				                            </tr>
				                            <tr>
				                                <th style="width: 5%">Codice</th>
				                                <th>Prodotto</th>
				                                <th>Descrizione</th>
				                                <th>Quantità</th>
				                                <th>Prezzo listino</th>
				                                <th>Totale</th>
				                                <th>Sconto</th>
				                                <th>Totale scontato</th>
				                            </tr>
				                        </thead>

				                        <tbody>
				                            <tr ng-repeat="x in distributore">
				                                <td>{{x.Codice}}</td>
				                                <td>{{x.Nome}}</td>
				                                <td>{{x.Descrizione}}</td>
				                                <td>{{x.Quantita}}</td>
				                                <td>{{x.Prezzo_listino | currency:"€"}}</td>
				                                <td>{{x.Prezzo_listino | currency:"€"}}</td>
				                                <td>%{{x.Sconto + 0}}</td>
				                                <td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
				                            </tr>
											<tr ng-repeat="x in accessori">
				                                <td>{{x.Codice}}</td>
				                                <td>{{x.Nome}}</td>
				                                <td>{{x.Descrizione}}</td>
				                                <td>{{x.Quantita}}</td>
				                                <td>{{x.Prezzo_listino | currency:"€"}}</td>
				                                <td>{{x.Totale | currency:"€"}}</td>
				                                <td>%{{x.Sconto + 0}}</td>
				                                <td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
				                            </tr>
											<tr ng-repeat="x in software">
				                                <td>{{x.Codice}}</td>
				                                <td>{{x.Tipologia}}</td>
				                                <td>{{x.Descrizione}}</td>
				                                <td>{{x.Quantita}}</td>
				                                <td>{{x.Prezzo_listino | currency:"€"}}</td>
				                                <td>{{x.Totale | currency:"€"}}</td>
				                                <td>%{{x.Sconto + 0}}</td>
				                                <td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
				                            </tr>
											<tr ng-repeat="x in licenze">
				                                <td>{{x.Codice}}</td>
				                                <td>{{x.Tipologia}}</td>
				                                <td>{{x.Descrizione}}</td>
				                                <td>{{x.Quantita}}</td>
				                                <td>{{x.Prezzo_listino | currency:"€"}}</td>
				                                <td>{{x.Totale | currency:"€"}}</td>
				                                <td>%{{x.Sconto + 0}}</td>
				                                <td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
				                            </tr>
											<tr ng-repeat="x in servizi">
				                                <td>{{x.Codice}}</td>
				                                <td>{{x.Tipologia}}</td>
				                                <td>{{x.Descrizione}}</td>
				                                <td>{{x.Quantita}}</td>
				                                <td>{{x.Prezzo_listino | currency:"€"}}</td>
				                                <td>{{x.Totale | currency:"€"}}</td>
				                                <td>%{{x.Sconto + 0}}</td>
				                                <td ng-class="{guadagno: x.Sconto > 0}">{{x.Ricavo_scontato | currency:"€"}}</td>
				                            </tr>
				                        </tbody>
										<tfoot>
											<tr>
				                                <th>Totale imponibile</th>
				                                <th>Percentuale IVA</th>
				                                <th>Totale preventivo</th>
				                            </tr>
											<tr>
				                                <td style="width: 33%"><h2>{{Totale_imponibile | currency:'€'}}</h2></td>
				                                <td style="width: 33%"><h2>%{{Percentuale_iva | number}}</h2></td>
				                                <td style="width: 33%"><h2>{{Totale_preventivo | currency:'€'}}<small style="font-size: 25%"> IVA Incl.</small></h2></td>
				                            </tr>
											<tr>
												<td colspan="8" id="footerTd">
													<div class="footer">
														<p>FOTREAM GROUP SRL</p>
														<p>Sede legale: Corso Barolo, 47 - 12051 Alba (CN) | Sede operativa: Via F. Santi 3/6 - 10042 Nichelino (TO)</p>
														<p>Telefono: +39 011 0015516 | Partita IVA & Codice fiscale: 03601010048-N | REA: CN-302892</p>
													</div>
												</td>
											</tr>
										</tfoot>
				                    </table>
				                </div>
				            </div>

				            <!-- <div class="row">
				                <div class="col col-9">
				                    <table class="table note" id="tableCliente-note">
				                        <thead>
				                            <tr>
				                                <th>Note aggiuntive</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr>
				                                <td>{{Note_aggiuntive_cliente}}</td>
				                            </tr>
				                        </tbody>
				                    </table>

				                </div>
				            </div> -->

				            <!-- <div class="row">
				                <div class="col col-9">
				                    <table class="table table-totali">
				                        <thead>
				                            <tr>
				                                <th>Totale imponibile</th>
				                                <th>Percentuale IVA</th>
				                                <th>Totale preventivo</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                            <tr>
				                                <td style="width: 33%"><h2>{{Totale_imponibile | currency:'€'}}</h2></td>
				                                <td style="width: 33%"><h2>%{{Percentuale_iva | number}}</h2></td>
				                                <td style="width: 33%"><h2>{{Totale_preventivo | currency:'€'}}<small style="font-size: 25%"> IVA Incl.</small></h2></td>
				                            </tr>
				                        </tbody>
				                    </table>
				                </div>
				            </div> -->
				        </div>
					</div>
					<!-- <input type="button" name="db" value="db" ng-click="db()"> -->

					<span class="bl-icon bl-icon-close"></span>
				</section>
			</div>
		</div><!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/boxlayout.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scriptAnteprima.js"></script>
		<script>
			$(function() {
				Boxlayout.init();
			});
		</script>
    </body>
</html>
