/**
 * @Author: Zaharia Laurentiu Jr Marius
 * @Date:   2017-11-09T20:55:53+01:00
 * @Email:  laurentiu.zaharia@edu.itspiemonte.it
 * @Project: kebabCase
 * @Filename: cssPreventivo.css
 * @Last modified by:   Zaharia Laurentiu Jr Marius
 * @Last modified time: 2017-11-12T17:44:58+01:00
 */

 .view {
     background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
     background-size: cover;
 }

 .navbar {
     background-color: transparent;
	 font-size: 18px;
 }

 .navbar-brand {
	 font-size: 22px !important;
 }

 .navbar.scrolling-navbar {
	 padding-top: 16px;
	 padding-bottom: 16px;
 }

 .top-nav-collapse {
     background-color: #4285F4;
	 font-size: 15px;
 }

 @media only screen and (max-width: 768px) {
     .navbar {
         background-color: #4285F4;
     }
 }

.intro {
	min-height: 1020px;
}

.dropDownColor {
	color: black !important;
}

.cartButton {
	border-radius: 50%;
    padding: 1%;
    border: 0px;
    background: #F44336 !important;
	position: fixed;
	bottom: 4%;
	right: 94%;
}

.btn .fa {
	font-size: 2rem;
}

.downIndicationArrow {
	top: 350px;
	position: relative;
	color: white !important;
}

.contattiAiuto a{
	padding: 15px;
}

.table input[type=number] {
	width: 50px;
	text-align: center;
}

.search {
	text-align: center;
}

.loginFormHeaderIcon {
	position: relative;
	left: 182px;
}

.modal-header {
	padding: 12px !important;
}
