/**
 * @Author: Zaharia Laurentiu Jr Marius
 * @Date:   2017-11-09T20:55:53+01:00
 * @Email:  laurentiu.zaharia@edu.itspiemonte.it
 * @Project: kebabCase
 * @Filename: cssPreventivo.css
 * @Last modified by:   Zaharia Laurentiu Jr Marius
 * @Last modified time: 2017-11-10T10:58:09+01:00
 */

.textfield_input_error {
	border-color: #d50000 !important;
}

.textfield_floatinglabel_error {
	color: #d50000 !important;
}

.textfield_floatinglabel_error::after {
	background-color: #d50000 !important;
}

.mdl-tabs__panel {
	padding: 2%;
}

.mdl-tabs {
	width: 90% !important;
	margin: 0 auto;
}

#productTable {
	width: 100%;
	margin: 0 auto;
}

td input[type=number] {
	width: 40px;
	text-align: center;
}
